* {
    box-sizing: border-box;
}

html,
body {
    background: $navy;
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

a {
    color: white;
}

h1 {
    font-size: 25px;
    font-weight: normal;
    text-align: center;
    
    @media(min-width: $tab) {
        position: relative;
        left: 10px;
    }

    @media(max-width: $tab) {
        font-size: 18px;
        max-width: $tileWidth * $tilesPerRowTab;
        margin: 20px auto;
    }
}