.c-social {
    display: flex;
    justify-content: flex-end;

    &__list {
        list-style: none;
        display: flex;
        margin-left: 0;
        margin-right: 20px;
    }

    li {
        margin-left: 40px;
    }

    a {
        display: block;
        height: 30px;
        width: 30px;
    }
}