.l-main-wrapper {
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

    @media(max-width: $lap) {
        flex-direction: column;
        align-items: center;
    }

    &__side {
        width: 300px;
    }

    &__footer-text {
        margin: 0 auto;
        text-align: justify;
        width: $tileWidth * $tilesPerRow;
        max-width: 630px;
        padding-left: 20px;

        @media(max-width: $tab) {
            max-width: 100%;
            padding: 0 10px;
        }
    }

    &__box-1 {
        order: 1;
        margin-right: 20px;
        
        @media(max-width: $lap) {
            margin-right: 0;
            order: 2;
        }
    }

    &__box-2 {
        order: 2;
        
        @media(max-width: $lap) {
            margin-bottom: 40px;
            order: 1;
        }
    }

    &__box-3 {
        order: 3;

        @media(max-width: $lap) {
            display: none;
        }
    }
}
