@keyframes comeUp {
  0%   { 
      transform: translateY(-200px); 
      opacity: 0
    }

  100% { 
    transform: translateY(0); 
    opacity: 1
    }
}

.c-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    background: rgba(black, .5);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;

    a, p {
        color: black;
    }


    &__video-wrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }
    

    &__background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, .5);
    }

    &__content {
        width: 50vw;
        max-height: 75vh;
        overflow: hidden;
        overflow-y: scroll;
        background: white;
        padding: 20px;
        animation: comeUp .45s forwards;

        @media(max-width: $tab) {
            width: 95vw;
        }
    }
}
