.c-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $tileWidth;
    height: $tileWidth;
    text-align: center;
    font-size: 11px;
    background: $grey;
    color: black;
    border: 1px solid black;
    border-left: 0;
    border-bottom: 0;
    position: relative;
    transition: all ease .3s; 

    &__holder {
        display: flex;
        width: $tileWidth * $tilesPerRow;
        max-width: $tileWidth * $tilesPerRow;
        flex-wrap: wrap;
        border-bottom: 1px solid black;
        justify-content: flex-end;

        @media(max-width: $tab) {
            width: $tileWidth * $tilesPerRowTab;
            max-width: $tileWidth * $tilesPerRowTab;
        }
    }

    &:nth-child(7n + 1) {
        @media(min-width: $tab) {
            border-left: 1px solid black;
        }
    }

    &:nth-child(3n + 1) {
        @media(max-width: $tab) {
            border-left: 1px solid black;
        }
    }

    &--clickable {
        cursor: pointer;

        &:hover {
            z-index: 2;
            transform: scale(1.1,1.1);
            border: 1px solid black;
            box-shadow: 0 0 10px black;
        }
    }

    &--large {
        width: $tileWidth * 2;
        height: $tileWidth;
        background: $navy;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        border-top: 1px solid black;
        color: white;
        font-size: 14px;
        
        @media(max-width: $tab) {
            width: $tileWidth * 3;    
            border-left: 1px solid black;        
            font-size: 12px;
        }
    }

    &__link {
        text-decoration: none;
        z-index: 1;
    }

    &__container {
        padding: 5px;
        flex-direction: column;
        width: 100%;
    }

    &__chem-info {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: baseline;
        max-width: 70%;
        margin: 0 auto;
    }

    &__now-playing{
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% + 1px);
        height: calc(100% + 1px);
        transform: scale(0);
        opacity: 0;
        transition: all ease 0.4s;

        &--active {
            transform: scale(1);
            opacity: .6;
        }
    }

    &__name {
        font-size: 30px;
    }
    
    &__time {
        display: block;
    }
    
    &--left {
        text-align: left;
    }

    &--navy {
        background: $navy;
    }

    &--darkNavy {
        background: $darkNavy;
    }

    &--blue {
        background: $blue;
    }

    &--mustard {
        background: $mustard;
    }

    &--green {
        background: $green;
    }

    &--lightGrey {
        background: $lightGrey;
    }

    &--pink {
        background: $pink;
    }

}
