$grey: #3a4050;
$navy: #222c40;
$darkNavy: #475a7e;
$blue: #778eb9;
$mustard: #cabb7c;
// $pink: #ffcc99;
$pink: #af74a8;
$green: #4b7256;

$lightGrey: #9b9b91;

$tileWidth: 90px;
$tilesPerRow: 7;
$tilesPerRowTab: 3;

$lap: 1024px;
$tab: 690px;
$mob: 480px;